/* Resets default browser CSS (Section extracted from Blueprint)
---------------------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body            { line-height: 1.5; }
table           { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th   { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q   { quotes: "" ""; }
a img           { border: none; }
img             { -ms-interpolation-mode: bicubic; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Main layout elements
-------------------------------------------------------------- */
body {
  font-size: 75%;
  font-family: Helvetica, Arial, sans-serif;
  word-spacing: -.02em;

  /*
      Make sure all fonts display in all its glory:
      1. Use ligatures automatically.
      2. Enable proportional figures and ordinals.
      3. Enable OpenType fractions.
      4. Enable kerning data.
  */
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga=1,pnum=1,onum=1,frac=1,kern=1";

  -moz-font-feature-settings: "liga=1,pnum=1,onum=1,frac=1,kern=1";
  -webkit-font-feature-settings: "liga=1,pnum=1,onum=1,frac=1,kern=1";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #111;
  background: #fff;

  padding: 20px;
  margin: 0;

  /* Don't have content run too wide, because of the lines,
     that would look very line-y... */
  max-width: 740px;
  max-width: 480px;
}

/* HYPERlinks
-------------------------------------------------------------- */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #000;
}

p               { margin-bottom: .5em; }
em              { font-style: italic; }
strong          { font-weight: bold; }
abbr,acronym    { border-bottom: 1px solid #111; }
q, blockquote   { color: #222; }
blockquote      {
  margin: 1em 0;
  padding: .5em 20px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

hr {
  border: none;
  height: 1px;
  background: #888;
  width: 100%;
  margin: 1em auto;
}

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, caption,
.events-directory .title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Adding Helvetica Neue */
  letter-spacing: .01em; /* Works only for Firfox. */
}

h1              { font-size: 3em;   line-height: 1; text-transform: uppercase;}
h2, section > h1              { font-size: 1.5em;                 text-transform: uppercase;}
h3, caption     { font-size: 1.2em; line-height: 2; text-transform: uppercase;}
h4              { font-size: 1em;   line-height: 2; text-transform: uppercase;}
h5              { font-size: .9em;  line-height: 2; text-transform: uppercase;}

section > h1 {
  margin-bottom: 1em;
}
/* Lists
-------------------------------------------------------------- */
dl     { margin-bottom: 1em; }
dt     { margin-top: .5em; font-weight: bold; }
dd     { font-style: italic; }
ol     { margin: .5em 0 1em 0; }
.list--chars { list-style-type: lower-alpha; }

/* Code and literal values in text
-------------------------------------------------------------- */
pre > code         { display: block; }
code, pre, .fixed  { font: 95% Monaco, Courier, monospace; }
code               { padding: .2em .25em; border: 1px solid #f0f0f0; background: #fafafa; }
pre                { padding-bottom: 1em; }

/* Tables
-------------------------------------------------------------- */
table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
th,td       { padding: 4px 0; border-bottom: 1px solid #e0e0e0; }
thead       { text-transform: uppercase; border-top: 1px solid #e0e0e0; }


/* Header
-------------------------------------------------------------- */
header > h1 {
  font-size: 2em;
  letter-spacing: .03em;
}
header {
  margin-bottom: 4em;
  min-height: 5em;
}

/* Footer
-------------------------------------------------------------- */
.site-footer {
  color: #a6a6a6;
  position: relative;
  margin: -50px auto 0 auto; /* top is negative value of footer height */
  clear: both;
  height: 50px;
  width: 950px;  /* same as container */
}
.site-footer .left {
  float: left;
  width: 50%;
}
.site-footer .right {
  float: right;
  width: 50%;
}
.site-footer .copyright {
  display: inline;
}
.site-footer .about {
  margin-top: .25em;
}
.site-footer .legal {
  display: inline;
  list-style: none;
}
.site-footer .legal li {
  display: inline;
}
.site-footer .legal li + li:before {
  content: " / ";
}



/* ...
-------------------------------------------------------------- */
p {
  /* Reduced width (but not for list content, as that are "just"
     facts) for better readibility of flowed lenghty text. */
  max-width: 600px;
  hyphens: auto;
}

body > header {
  margin-bottom: 10px;
}

section {
  /* Have the line between sections in equal distances from the content. */
  margin-bottom: 40px;
}
section + section {
  border-top: 1px solid blue;
  padding: 30px 40px 0 0;
}

body > footer {
  padding-top: 60px;
  border-top: 1px dashed blue;
}


